@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth antialiased;
  }

  body {
    @apply bg-primary-50 text-neutral-900;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }

  p {
    @apply leading-relaxed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
